.character-counts {
  display: inline-block;
  position: absolute;
  right: 0.4em;
  bottom: 0.25em;
  color: var(--primary-low-mid);

  &.more-required {
    color: var(--danger);
  }
}

.title-input {
  .character-counts {
    margin-bottom: 0.5em;
    color: var(--primary-low-mid);

    &.more-required {
      color: var(--danger);
    }
  }
}
